body {
    font-family: 'Roboto', sans-serif;
}

/* Containers */

.alert-container {

}

.callout-container {
    height: 100vh;

    background: url('Images/whiskey-glass_NBCKWLMBGX.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}
    


